*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.container{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background-color: black;
    display: flex; justify-content: center; align-items: center;
    flex-direction: column;
}
h1{
    color:rgb(195, 53, 195);
    font-size: 50px;
}
p{
    color: lightgreen;
    font-size: 30px;
}
