*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.container{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cover{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    background: radial-gradient(100px at 200px 300px,transparent,rgba(0, 0, 0, 0.823));
}